:root{
  --pink:#8F6DDE;
  --orange:#F9E698;
}

@font-face {
  font-family: 'Expose-Regular';
  src: url('fonts/Expose-Regular.woff2') format('woff2'),
       url('fonts/Expose-Regular.woff') format('woff'),
       url('fonts/Expose-Regular.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


body {
  font-family: 'Expose-Regular';
  margin: auto;
}
p{
  font-family: 'Expose-Regular';
  margin: 0rem;
  font-weight: 500;
  font-size: 14px;
}

button{
  font-family: 'Expose-Regular';
  font-size: 16px;
  background-color: var(--orange);
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* Main page */
.create-stuff{
  background-color: var(--pink);
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  text-align: right;
}
.collum-prompt{
  z-index: 99;
  display: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  height: 100%;
}
.collum-prompt .prompt-box{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 25rem;
  padding: 5px 5px 5px 5px;
  background-color: var(--pink);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.collum-prompt .prompt-box input{
  width: 98%;
}
.collum-prompt .prompt-box h1{
  font-family: 'Expose-Regular';
  color: var(--orange);
}

/* Components */
input{
  width: 70%;
}
.span-object{
  display: inline-block;
  border: 1px solid black;
  background-color: rgb(216, 216, 216);
}
.base-object{
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  padding-bottom: 2px;
}
.base-object .objects{
  display: flex;
  grid-auto-flow: column;
  padding: 4px 2px 1px 1px;
}
.base-object .objects .delete{
  position: absolute;
  margin-top: .1rem;
  margin-left: 9rem;
}
.base-object .objects .delete:hover{
  border: 1px solid white;
}
.base-object .objects h1{
  margin: 0rem;
  font-size: 14px;
}
.base-object .objects p{
  font-size: 10px;
  color: var(--orange);
}
.base-object .default-collum{
  height: 20px;
  text-align: center;
  width: 10rem;
  background-color: var(--pink);
  border: 1px solid black;
}
.base-object .collum{
  height: 20px;
  text-align: center;
  width: 10rem;
  background-color: var(--pink);
  border: 1px solid black;
}
.base-object .collum:hover{
  cursor: pointer;
}
.base-object span{
  border: 1px solid black;
  font-weight: 500;
  font-size: 18px;
}
.collum-button{
  font-size: 14px;
  width: 100%;
  height: 1.5em;
  margin-bottom: .1rem;
}
canvas{
  background-color: #1b1b1b;
}

textarea{
  color: #424c6e;
  font-family: 'Monocraft';
  font-weight: 600;
  border: none;
  outline: none;
}

.file-selection{
  text-align: center;
  width: 300px;
  left: 0rem;
  top: 9.5rem;
  position: absolute;
  z-index: 99;
}

.file-selection p{
  font-family: 'Monocraft';
  color: #ffa214;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}
